{# templates/blog/category.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Category : {{ category.name }}</h1>
    {% for article in articles %}
    <div>
        <h2>Article {{ article.id }} : {{ article.title }}</h2>
        <p>{{ article.content }}</p>
    </div>
    {% endfor %}

    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

{% endblock %}